* {
    font-family: Helvetica, sans-serif;
    background-color: darkgrey;
}

h1, h2, h3 {
    background-color: black;
    padding: 8px;
}

h1 {
    color: blueviolet;
}

h2 {
    color: violet;
}

h3 {
    color: pink;
}

.menu {
    
}

.box {
    border: 8px solid aqua;
}

.ingredients {
    display: inline-block;
    margin: 6px 12px;
    padding: 0px 6px;
    border: 2px solid brown;
    vertical-align: top;
    color: brown;
}

.ingredients .primary-ingredient {
    font-size: larger;
    text-decoration: underline;
}

.steps {
    display: inline-block;
    vertical-align: top;
    margin: 0px 12px;
}
