* {
    font-family: Helvetica, sans-serif;
    background-color: darkgrey;
}

h1, h2, h3 {
    background-color: black;
}

h1 {
    color: blueviolet;
}

h2 {
    color: violet;
}

h3 {
    color: pink;
}

.menu {
    
}

.ingredients {
    color: brown;
}

.ingredients .primary-ingredient {
    font-size: larger;
    text-decoration: underline;
}

.steps {
    
}
